@import 'src/assets/stylesheet/config';

.news-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size-description;
  line-height: 1.9rem;
  color: $color-black;
  height: 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-decoration: none;

  .news-date {
    padding-left: 3rem;
    min-width: 10rem;
  }

  .news-title {
    flex: 1;
    min-width: 0;
    padding-right: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover {
    .news-title {
      color: $color-blue;
    }
  }
}

.window-small {
  .news-item {
  }
}
