@import 'src/assets/stylesheet/config';

.regulation-item {
  width: 32rem;
  height: 24rem;

  .regulation-image {
    width: 32rem;
    height: 24rem;
  }
}

.window-small {
  .regulation-item {
  }
}
