@import "src/assets/stylesheet/config";

.regulation-detail {
  display: flex;
  flex-direction: row;
  gap: 2.1rem;
  min-height: calc(100vh - #{$size-header-height} - #{$size-footer-height});
  box-sizing: border-box;
  flex: 1;
}

.window-small {
  .regulation-detail {

  }
}
