@import 'src/assets/stylesheet/config';

.dashboard {
  min-height: 70rem;

  .dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;

    .dashboard-iframe {
      flex: 1;
      border: none;
    }
  }
}

.window-small {
  .dashboard {
  }
}
