@import "src/assets/stylesheet/config";

.approve-user {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .search-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1.2rem;
    column-gap: 3.2rem;
    min-width: 0;
  }

  .text-containers,
  .date-containers {
    @include center-item;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  .status-container {
    @include center-item;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    .select-input {
      .form-input {
        min-width: 9rem;
        max-width: 9rem;
      }
    }
  }

  .start-date-container {
    @include center-item;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    .status-title {
      font-size: 14px;
    }
  }
}

.window-small {
  .approve-user {

  }
}
