@import 'src/assets/stylesheet/config';

.change-password-modal {
  width: 45rem;
  max-width: 100%;

  .password-toggle {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    font-size: $font-size-description;
    line-height: 1.9rem;
    color: $color-black;

    .checkbox {
      width: 2.1rem;
      height: 2.1rem;
    }
  }

  .button-group {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1rem;
    margin: 0 1rem;

    .cancel-button {
      @include cancel-button;
    }

    .confirm-button {
      @include white-button;
    }
  }
}

.window-small {
}
