@import 'src/assets/stylesheet/config';

.plan-download {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .plan-download-container {
    @include center-item;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

.window-small {
  .plan-download {
  }
}
