@import 'src/assets/stylesheet/config';

.zero-login {

  .login-button {
    @include feature-button;
    width: 11rem;
    box-sizing: border-box;
    margin: 0.7rem auto;
  }
}

.window-small {
  .zero-login {
  }
}

.image-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:30px;
}

.image-left:hover {
  opacity: 0.5;
}

.image-right :hover {
  opacity: 0.5;
}

.txt-grid {
  display: flex;
  flex-direction: row;
  padding-left: 3px;
  justify-content: space-around;
}