@import "src/assets/stylesheet/config";

.system-sub-menu {
  .add-button {
    @include center-item;
    width: 14rem;
    height: 3rem;
    color: white;
    font-size: $font-size-white-text;
    font-weight: $font-weight-bold;
    line-height: 2rem;
    background-color: $color-blue;
    border-radius: $border-radius-button;
    text-decoration: none;
    margin-right: 4rem;

    &:hover {
      filter: brightness(110%);
    }
  }

  .submit-button {
    @include center-item;
    width: 10rem;
    height: 3rem;
    font-size: $font-size-description;
    font-weight: $font-weight-bold;
    line-height: 2rem;
    color: white;
    background: $color-linear-blue-grey;
    border-radius: $border-radius-button;
    margin: 1.5rem auto 0;

    &:hover {
      filter: brightness(110%);
    }
  }
}

.window-small {
  .system-sub-menu {

  }
}
