@import 'src/assets/stylesheet/config';

.business-management {
  display: flex;
  flex-direction: row;
  gap: 2.1rem;
  padding: 4rem 4.4rem 0;
  min-height: calc(100vh - #{$size-header-height} - #{$size-footer-height});
  box-sizing: border-box;
}

.business-management-not-menu {
  display: flex;
  flex-direction: row;
  padding: 4rem 4.4rem 0;
  min-height: calc(100vh - #{$size-header-height} - #{$size-footer-height});
  box-sizing: border-box;
}

.window-small {
  .business-management {
  }
}
