@import "src/assets/stylesheet/config";

.mobilization-execution {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .back-button {
    @include center-item;
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
    font-size: $font-size-description;
    font-weight: $font-weight-bold;
    line-height: 2rem;
    color: $color-black;
    background: $color-linear-grey;
    border-radius: $border-radius-button;

    &:hover {
      filter: brightness(90%);
    }
  }
}

.window-small {
  .mobilization-execution{

  }
}
