@import 'src/assets/stylesheet/config';

.secondary-agency {
  .inputs {
    display: flex;
    flex-direction: column;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 1.5rem auto;

    .submit-button {
      @include center-item;
      width: 10rem;
      height: 3rem;
      font-size: $font-size-description;
      font-weight: $font-weight-bold;
      line-height: 2rem;
      color: white;
      background: $color-linear-blue-grey;
      border-radius: $border-radius-button;

      &:hover {
        filter: brightness(110%);
      }
    }

    .back-button {
      @include center-item;
      width: 10rem;
      height: 3rem;
      font-size: $font-size-description;
      font-weight: $font-weight-bold;
      line-height: 2rem;
      color: $color-black;
      background: $color-linear-grey;
      border-radius: $border-radius-button;

      &:hover {
        filter: brightness(90%);
      }
    }
  }
}

.window-small {
  .secondary-agency {
  }
}
