@import "src/assets/stylesheet/config";

.base-regulation-management-table {
  display: flex;
  flex-direction: column;

  .add-button {
    @include center-item;
    width: 14rem;
    height: 3rem;
    color: white;
    font-size: $font-size-white-text;
    font-weight: $font-weight-bold;
    line-height: 2rem;
    background-color: $color-blue;
    border-radius: $border-radius-button;
    text-decoration: none;
    margin-right: 4rem;

    &:hover {
      filter: brightness(110%);
    }
  }

  .text-input {
    flex: 1;
  }
}

.window-small {
  .regulation-detail-table {

  }
}
