@import 'src/assets/stylesheet/config';

.braiding-item-modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90rem;

  .info-section {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    border-top: 1px solid $color-stroke;

    .input-title {
      border-left: none;
    }

    .link-container {
      display: flex;
      flex-direction: row;
    }

    .file-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      .file-link {
        color: $color-blue;
      }

      .delete-button {
        cursor: pointer;
        color: $color-red;
      }
    }
  }

  .action-button-container {
    @include center-item;
    flex-direction: row;
    gap: 1rem;
    padding: 0.15rem 0;
    margin-bottom: 2.2rem;

    .upload-button,
    .close-button {
      @include center-item;
      width: 10rem;
      height: 3rem;
      font-size: $font-size-description;
      font-weight: $font-weight-bold;
      line-height: 2rem;
      color: white;
      background: $color-linear-blue-grey;
      border-radius: $border-radius-button;

      &:hover {
        filter: brightness(110%);
      }
    }
  }
}
