@import "src/assets/stylesheet/config";

.announcement {
  display: flex;
  flex-direction: row;
  padding: 4rem 4.4rem 0;
  min-height: calc(100vh - #{$size-header-height} - #{$size-footer-height});
  box-sizing: border-box;

  .announcement-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .add-button {
      @include center-item;
      width: 14rem;
      height: 3rem;
      color: white;
      font-size: $font-size-white-text;
      font-weight: $font-weight-bold;
      line-height: 2rem;
      background-color: $color-blue;
      border-radius: $border-radius-button;
      text-decoration: none;
      margin-right: 4rem;

      &:hover {
        filter: brightness(110%);
      }
    }

    .search-containers {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 1.2rem;
      column-gap: 3.2rem;
      min-width: 0;
    }

    .text-containers,
    .date-containers {
      @include center-item;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.2rem;
    }

    .status-container {
      @include center-item;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;

      .select-input {
        .form-input {
          min-width: 9rem;
          max-width: 9rem;
        }
      }
    }

    .start-date-container {
      @include center-item;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}

.window-small {
  .announcement {

  }
}
