@import "src/assets/stylesheet/config";

.important-policy {
  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .add-button {
      @include center-item;
      width: 14rem;
      height: 3rem;
      color: white;
      font-size: $font-size-white-text;
      font-weight: $font-weight-bold;
      line-height: 2rem;
      background-color: $color-blue;
      border-radius: $border-radius-button;
      text-decoration: none;
      margin-right: 4rem;

      &:hover {
        filter: brightness(110%);
      }
    }
  }

  .search-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1.2rem;
    column-gap: 3.2rem;
    min-width: 0;
  }

  .text-containers,
  .date-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
  }
}

.window-small {
  .important-policy {

  }
}
